.slider .container:nth-child(1) {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20231227/pngtree-real-estate-landing-page-with-stunning-gradient-texture-image_13879867.png");
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: cover;
    width: 100%;
    height: 60vh;
    border-radius: 30px;
}

.slider h3{
    font-size:  60px;
    color: #fff;
    padding-top: 70px;
}

.slider span{
    color: #fff;
    font-size: 18px;
}

.fg{
    margin: 0 100px;
}

.form-control{
    border-radius: 10px;
    left: 100px;
}

.slider button{
    position: relative;
    width: 100px;
    height: 35px;
    right: 105px;
    border-radius: 10px;
}