.admin{
    background: #ebe9e9;
}

.admin {
    display: flex;
    flex-direction: column;
    height: fit;
}

@media (max-width: 768px) {
    .sidebar-col {
        position: fixed;
        left: -100%; /* Ẩn sidebar khi màn hình nhỏ */
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 1000;
        transition: left 0.3s ease;
    }

    .sidebar-col.show {
        left: 0; /* Hiện sidebar khi có class 'show' */
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}